/*large devices*/
@media (max-width: 1200px){
    .header-img img{
        width: 300px;
        height: 300px;
    }
    
    .header-text h1{
        font-size: 40px;
    }
}
@media (max-width: 992px) {
.popular-section {
    padding: 0 15px;
}
}
/*Medium devices (tablets)*/
@media (max-width: 785px) {
    .container{
        text-align: center;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .header-img{
        text-align: center;
        margin-top: 20px;
    }
    .header-img img{
        width: 277px;
        height: 277px;
    }
    .header-text{
        width: 100%;
    }
    .header-text h1{
        font-size: 28px;
        line-height: 42px;
    }
    .subscription-section{
        margin: 100px 30px;
    }
    .subscription input{
        height: 40px;
        width: 100%;
        font-size: 16px;
    }
    .subscription textarea{
        width: 100%;
        font-size: 16px;
    }
	.products{
        grid-template-columns: repeat(2, 1fr);
    }
    .see-more{
        text-align: center;
        margin-top: 30px;
    }
	
}

/*Small devices (landscape phones, 575px and down)*/
@media(max-width: 575px) {
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-section {
        margin-bottom: 50px;
    }
    .subscription-section{
        margin: 0px 30px;
    }
}