@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.button{
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
    border-radius: 41px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    display: inline-block;
}
h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin: 15px 0 30px 0;
}
main{
    max-width: 1140px;
    margin: 50px auto;
    width: 100%;
}
/* ---------------------
      Header section
----------------------- */

.container{
    padding: 0 15px;
}
.container a h3{
    display: inline-block;
    color: #3A3A3A;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    overflow: hidden;
}
.hero:hover .header-img{
    transform: scale(1.2) rotate(360deg);
    transition: .9s all ease;

}
.header-text{
    width: 60%;
}
.header-text a i{
    padding-left: 8px;
} 
.header-text h1{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
}
.header-img img{
    width: 440px;
    height: 440px;
}
/* ---------------------
      Header section
----------------------- */




/* ---------------------
      popular section
----------------------- */
.popular-section{
    max-width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.popular-section h2{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.products{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.product{
    background-color: #fff;
    padding: 18px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product h3{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin: 15px 0 0 0;
}
.product .des{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    opacity: 0.6;
}
.rating i{
    height: 32px;
    font-size: 14px;
    color:rgb(238, 165, 69);
}
.rating span{
    margin-left: 8px;
}


.see-more{
    text-align: right;
    margin-top: 20px;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
}
/* ---------------------
      popular section
----------------------- */





/* ---------------------
      subscription section
----------------------- */
.subscription-section{
    margin: 80px 120px;
}
.subscription{
    text-align: center;
}
.subscription input{
    outline: none;
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
}
textarea{
    width: 500px;
    outline: none;
    font-size: 18px;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}
/* ---------------------
      subscription section
----------------------- */



/* ---------------------
      Footer section
----------------------- */

.footer p{
    margin: 0px;
}
.footer{
    background-color: rgb(12, 1, 44);
    padding: 50px 0;
    color: #fff;
    text-align: center;
}
.footer h3{
    font-size: 24px;
    line-height: 36px;
}
.footer p{
    font-size: 14px;
    line-height: 24px;
}
.footer .social i{
    padding: 15px;
}
/* ---------------------
      Footer section
----------------------- */
